/* card styles */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.course-card {
    background-color: #9889e123; /* light grey background */
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 0.2s ease;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-card h3 {
    margin: 0 0 10px;
    font-size: 1.1rem;
    color: var(--color-secondary);
}

.course-card p {
    margin-bottom: 16px;
    color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-actions button {
    flex: 1;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-actions button:hover {
    background-color: #4a44d4;
}

.card-actions .btn-cancel {
    background-color:var(--color-primary);
}

.card-actions .btn-cancel:hover {
    background-color: var(--color-secondary);
}

/* */
.create-course-btn {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

.create-course-btn:hover {
    background-color: #4a44d4;
}

